@using MeadCo.ScriptXClient
@{
    ViewBag.Title = "Home Page";
}


@MeadCo.ScriptXClient.ClientPrinting.GetHtml(clientValidationAction: ClientPrinting.ValidationAction.Redirect,
    printSettings: new PrintSettings
    {
        Footer = "Print Footer: &p of &P",
        Header = "ScriptX Test"
    })

<h1>Testing ScriptX Helpers for Razor views</h1>

<div>
    @MeadCo.ScriptXClient.PrintButton.GetHtml()&nbsp;@MeadCo.ScriptXClient.PrintPreviewButton.GetHtml()
</div>

