@using MeadCo.ScriptXClient
@{
    ViewBag.Title = "Install in page";
}


@MeadCo.ScriptXClient.ClientPrinting.GetHtml(clientValidationAction: ClientPrinting.ValidationAction.None,
    printSettings: new PrintSettings
    {
        Footer = "Print Footer: &p of &P",
        Header = "ScriptX Test"
    })

<h1>Testing ScriptX Helpers for Razor views</h1>
<h2>Install in page</h2>
<div>
    @MeadCo.ScriptXClient.PrintButton.GetHtml(htmlAttributes: new { @class="btn btn-default"})&nbsp;@MeadCo.ScriptXClient.PrintPreviewButton.GetHtml(htmlAttributes: new { @class = "btn btn-default" })
</div>

<div>
    <p>ScriptX Version is: <strong id="sxv"></strong></p>
</div>


@section scripts
{
    <script type="text/javascript">
        // do not use $(function() {}) as the license may still be loading.
        $(window).on("load", function () {
            console.log("window is ready");
            try {
                if (MeadCo.ScriptX.Init()) {
                    console.log("ScriptX version " + MeadCo.ScriptX.ScriptXVersion() + " is available");
                    $("#sxv").text(MeadCo.ScriptX.ScriptXVersion());
                    if (MeadCo.Licensing.IsLicensed() ) {
                        alert("ScriptX is Licensed.");
                    } else {
                        console.log("License error: " + MeadCo.Licensing.ErrorMessage());
                        MeadCo.Licensing.ReportError("License failure.");
                    }
                } else {
                    alert("ScriptX failed to initialise");
                }
            } catch (e) {
                alert(e.message);
                console.log("It looks like the nuget packages havent been installed: " + e.message);
            }
        });
    </script>
}
